body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.leaflet-grid-label .lng {
	margin-left: 8px;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

a {
  font-weight: 200;
  font-size: 25px;
  color: blue;
}

.navbar {
  background-color: rgb(159, 192, 252);
}